@import url('https://fonts.googleapis.com/css2?family=Audrey:wght@400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    min-height: 100vh; 
    padding: 20px; 
}

.home.light {
    background-color: #ececec;
    color: black;
}

.home.dark {
    background-color: #212121;
    color: white;
}

.theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
}

.home .heading {
    font-family: 'Audrey', sans-serif;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 20px;
}

.create_form {
    display: flex;
    margin-bottom: 20px;
}

.create_form input {
    width: 280px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.create_form input.dark {
    background-color: #333;
    color: white;
    border-color: #555;
}

.create_form button {
    padding: 10px 15px;
    background-color: rgb(64, 175, 244);
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.create_form button.dark {
    background-color: #4CAF50;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.task.light {
    background-color: white;
    color: black;
}

.task.dark {
    background-color: #333;
    color: white;
}

.edit_form {
    display: flex;
    margin-bottom: 20px;
}

.edit_form input {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px 5px;
    outline: none;
}

.update-btn {
    background-color: #DB3030;
}

.cancel-btn {
    background-color: #4CAF50;
}

.edit_form button {
    margin-left: 1px;
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 5px 5px;
    cursor: pointer;
}

.edit_form button.dark {
    background-color: #4CAF50;
}

.edit .icon {
    margin-right: 8px;
}

.checkbox {
    display: flex;
    align-items: center;
}

.line_through {
    text-decoration: line-through;
}

.checkbox .icon {
    margin-right: 10px;
    font-size: 18px;
}

.icon.light {
    color: #333;
}

.icon.dark {
    color: #fff;
}

.empty-todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh; 
    text-align: center; 
}

@media (max-width: 480px) {
    .create_form {
        flex-direction: column;
        align-items: stretch;
    }

    .create_form input,
    .create_form button {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .task {
        width: 100%;
    }
}
